@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

.logo-width {
  width: 300px;
}

.container {
  padding: 0 15px;
  max-width: 1337px;
  margin: auto;
  position: relative;
}

* {
  box-sizing: border-box;
  max-width: 1337px;
  position: relative;
  margin: auto;

}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: black;
  padding: 10px;
  background: #2d292a;
}

.text-bold {
  font-weight: bold;
}

.result {
  width: 100%;
}

.small {
  font-size: 70%;
}

.panel {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  background: #f8f0ff;
  /* box-shadow: 0px 0px 3px black; */
  /* border-radius: 10px; */
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.panel-list-title {
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding-left: 33px;
  padding-right: 13px;
  text-align: center;
}

.panel-list-title img {
  width: 20px;
}

.panel-list {
  width: 90%;
}

.panel-title {
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 30px;
  border-bottom: 1px solid #616161;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}

.panel .col-md-6 {
  margin-bottom: 10px;
}

.panel .col-md-12 {
  margin-bottom: 10px;
}

.panel-child {
  margin: 0px auto;
}

.panel-child .label {
  font-weight: bold;
}

.note-title {
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #616161;
  margin-bottom: unset !important;
  text-align: center;
  padding: 5px;
}

.note-body {
  font-size: 13px;
  padding: 7px;
  margin-bottom: unset !important;
  border-bottom: 1px solid #616161;
}

.note-footer {
  padding-bottom: 30px;
}

.note-footer button {
  padding: unset;
}

.alert{
  border-radius: 0;
  border: 0;
  /* padding: 5px 15px; */
  margin: 10px;
}
.alert-danger{
  color: #fff;
  background-color: #b73536;
  border-color: #f5c6cb;
}

.alert-warning{
  color:#856404;
  background-color:#fff3cd;
  border-color:#ffeeba
}

.alert-success{
  color:#155724;
  background-color:#d4edda;
  border-color:#c3e6cb
}

.alert-image-holder {
  width: 20px;
  display: inline-block;
}

.alert-image-holder img {
  width: 50%;
  height: auto;
}

.edit-image-holder-svg {
  width: 20px;
  display: inline-block;
}

.remove-image-holder-svg {
  width: 20px;
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.letter-selected {
  background: #d4edda;
}

.expand-btn{
  background: none;
}
.expand-btn img{
  width:16px;
}

.button.submit {
  border-radius: 10px;
    height: 35px;
    width: 100px;
    /* background: #f6ae2d; */
    background: #efc88b;
    border-width: inherit;
    cursor: pointer;
}

.form-group {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 10px;
}

.input-group {
  min-width: 150px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #424242;
}

.header h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #616161;
  margin-left: -15px;
  margin-right: -10px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.right {
  float: right;
}

.left-column {
  float: left;
  width: 20%;
  padding-right: 20px;
  margin: initial;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.center-column {   
  float: left;
  width: 60%;
  margin: initial;
}

/* Right column */
.right-column {
  float: right;
  width: 20%;
  padding-left: 20px;
  margin: initial;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #667cbd;
  padding: 25px;
  margin-top: 20px;
  /* box-shadow: 0px 0px 4px black; */
  border-radius: unset;
}

.card .title {
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 35px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-left-5 {
  margin-left: 5px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}