<div class="header row">
  <div class="col-md-5">
    <a routerLink="/home">
      <img src="assets/imgs/main-logo-no-title.png">
    </a>
  </div>
  <div class="col-md-7">
    <h1>Tutoring Manager</h1>
  </div>
</div>

<div class="topnav">
  <a routerLink="/students">Students *</a>
  <a routerLink="/placeholder2/link">Professors *</a>
  <a routerLink="/placeholder3/link">Schedules *</a>
  <a routerLink="/placeholder4/link">Pricing *</a>
  <a routerLink="/placeholder5/link">Notes *</a>
  <a routerLink="/placeholder6/link" class="right">Login *</a>

</div>