<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="card">
    <app-student></app-student>
  </div>

  <div class="card">

    <h2>Today's lessons</h2>
    <h5>11/08/2020</h5>
    <div class="fakeimg" style="height:200px;">Schedule table</div>
    <p>Notes</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>